<nav class="p-3 navbar">
  <ul class="nav nav-pills">
    <li *ngFor="let action of actions">
      <button routerLink="{{action.url}}"
              [class]="action == currentAction ? 'btn btn-success ms-1' :'btn btn-outline-success ms-1' "
              (click)="setCurrentAction(action)"
      >
        <i class="{{action.icon}}"></i>
        {{action.name}}
      </button>
    </li>
    <li *ngIf="laodingService.isLoading$ | async">
      <div class="spinner-border" role="status">
      </div>
    </li>
  </ul>
  <ul class="nav nav-pills">
    <li *ngIf="appState.authState.isAuthenticated">
      {{appState.authState.username}}
      <button class="btn btn-warning" (click)="logout()">Logout</button>
    </li>
    <li *ngIf="!appState.authState.isAuthenticated">
      <button class="btn btn-success" (click)="login()">Login</button>
    </li>
  </ul>
</nav>
