<div class="p-3">
  <div class="card">
    <div class="card-body">
      <h3>Edit product number {{productId}}</h3>
      <div class="row">
        <div class="col-md-6" *ngIf="productFormGroup">
          <form [formGroup]="productFormGroup" (ngSubmit)="editProduct(productId)">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input class="form-control" formControlName="name">
            </div>
            <div class="mb-3">
              <label class="form-label">Price</label>
              <input class="form-control" formControlName="price">
            </div>
            <div class="mb-3">
              <label class="form-label">Checked</label>
              <input type="checkbox" class="form-check-input" formControlName="checked">
            </div>
            <button [disabled]="productFormGroup.invalid" type="submit" class="btn btn-success">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
