<div class="p-3">
  <div class="card">
    <div class="card-header">
      Authentication
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage | json}}
    </div>
    <div>
      <form [formGroup]="formLogin" (ngSubmit)="handleLogin()">
        <div  class="m-3">
          <label class="form-label">Username</label>
          <input formControlName="username" type="text" class="form-control">
        </div>
        <div  class="m-3">
          <label class="form-label">Password</label>
          <input  formControlName="password" type="password" class="form-control">
        </div>
        <div  class="m-3">
          <button type="submit" class="btn btn-success ms-2">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
